body {
    font-family: Arial;
    margin: 20px;
    background: #f5f5f5;
}

h1 {
    text-align: center;
}

textarea {
    width: 100%;
    height: 200px;
    margin-top: 15px;
    padding: 10px;
    font-size: 14px;
}

.buttons {
    text-align: center;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}
